.venv/
venv/

#* CSV Files
exam_files

#* DB Name
system.db

#* Cache
services/__pycache__/csv_services.cpython-310.pyc
ui/__pycache__
pages/__pycache__
helper/__pycache__
services/__pycache__/
data/__pycache__/
repositories/__pycache__/